@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --a:#6552D0;
    --b:#17203D;
    --c:#000000;
    --d:#A5A5A5;
    --e:white;
}

body{
    font-family: "IBM Plex Sans", sans-serif;
    background-color: var(--e);
    position: fixed;
}

.logo{
    display: flex;
    align-items: center;
    padding: 15px;
    font-family: "Roboto Slab", serif; 
    background-color: var(--e);
}

.logo h1{
    color: var(--a);
    margin-left: 5px;
    font-size: 25px;
}

#logo_img{
    width: 50px;
    height: 50px;
}

#container{
    background-color: var(--b);
    border-radius: 20px;  
    display: flex;
    flex-direction: row;
    width: 1870px;
    height: 500px;
    margin: 20px;
}

#content{
    background-color: var(--b);
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    height: 450px;
    margin: 10px;
    overflow: hidden; 
    position: relative;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#cont{
    background-color:var(--a);
    width: 100%;
    height: 315px;
    padding: 2px;
    border:solid 2px var(--e) ;
    overflow-y: scroll; 
    padding-right: 10px; 
    scroll-behavior: smooth;
    box-sizing: border-box;
    scrollbar-width: none;    
  -ms-overflow-style: none;
}

#title{
    margin: 20px;
    color: var(--e) ;
}

#header{
    margin: 20px;
    color: var(--e);
}


#text{
   margin: 10px;
   font-weight: 400;
   color: var(--e);
   font-size: 18px;
}


.btn-cont{
    display: flex;
    justify-content: center;
    margin: 15px;
}

button{
    padding: 12px;
    width: 15%;
    margin: 5px 5px 5px 0;
    background-color: var(--a);
    border: none;
    font-size: 14px;
    color: var(--e);
    text-decoration: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
}


.Piano{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.Piano-keys-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.Key {
    width: 5rem;
    cursor: pointer;
    position: relative;
    height: 15rem;
    border-radius: 10px;
    border: 1px solid #000;
}

.Key.active{
    background-color: var(--a);
}

.white {
    background-color: var(--e);
}

.black {
    width: 2rem;
    height: 9rem;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--c);
    z-index: 2;
    margin: 0 -20px;
}

#toggleChordBtn{
    border-radius: 20px;
    background-color: white;
    color: #6552D0;
}

.tone-display {
    margin: 10px 22%;
    padding: 10px 15px;
    font-size: 1.1rem;
    background-color: #e0e0e0;
    width: 50%;
    border-radius: 8px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.Piano.show-chords .Key::after {
  content: attr(data-note);
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 10px;
  color:deepskyblue;
  margin:auto;
}


.lesson-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.lesson-container h2{
    margin: 20px;
    color: var(--e);
}
  
.lesson-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    column-gap: 1px;
    margin: 20px 0;
    row-gap: 4px;
    
}
  
.level-box {
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.3s;
}
  
.level-box.active {
    background-color: var(--a); /* biru aktif */
}
  
  
  